include $XDG_CONFIG_HOME/sway/themes/catppuccin-{{ .themeFlavour }}

# target                 title     bg        text      indicator  border
client.focused           $blue     $blue     $base     $blue      $blue
client.focused_tab_title $blue     $blue     $base     $blue      $blue
client.focused_inactive  $mauve    $base     $text     $surface0  $surface0
client.unfocused         $base     $surface0 $overlay2 $surface0  $surface0
client.urgent            $peach    $peach    $base     $peach     $peach
client.placeholder       $overlay0 $base     $text     $overlay0  $overlay0
client.background        $base

# bar {
#   swaybar_command waybar
# }

default_border pixel 2
default_floating_border pixel 2
smart_borders on
smart_gaps on
