set $ws1 "1"
set $ws2 "2"
set $ws3 "3"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6"
set $ws7 "7"
set $ws8 "8"
set $ws9 "9"
set $ws10 "10"

set $wsa1 "1-A"
set $wsa2 "2-A"
set $wsa3 "3-A"
set $wsa4 "4-A"
set $wsa5 "5-A"
set $wsa6 "6-A"
set $wsa7 "7-A"
set $wsa8 "8-A"
set $wsa9 "9-A"
set $wsa10 "10-A"

set $primary "Unknown 0x06CE 0x00000000"
# set $secondary "Goldstar Company Ltd LG IPS FULLHD "
set $secondary "Lenovo Group Limited L32p-30 U511GB2Z"
set $tertiary "Samsung Electric Company S24C650 0x00000000"

# #---Workspace Bindings---# #
bindsym $mod+Prior		workspace prev
bindsym $mod+Shift+Prior	move container to workspace prev
bindsym $mod+Next		workspace next
bindsym $mod+Shift+Next		move container to workspace next
bindsym $mod+Tab		workspace back_and_forth

# switch to workspace
bindsym $mod+1		workspace $ws1
bindsym $mod+2		workspace $ws2
bindsym $mod+3		workspace $ws3
bindsym $mod+4		workspace $ws4
bindsym $mod+5		workspace $ws5
bindsym $mod+6		workspace $ws6
bindsym $mod+7		workspace $ws7
bindsym $mod+8		workspace $ws8
bindsym $mod+9		workspace $ws9
bindsym $mod+0		workspace $ws10

bindsym $mod+Mod1+1		workspace $wsa1
bindsym $mod+Mod1+2		workspace $wsa2
bindsym $mod+Mod1+3		workspace $wsa3
bindsym $mod+Mod1+4		workspace $wsa4
bindsym $mod+Mod1+5		workspace $wsa5
bindsym $mod+Mod1+6		workspace $wsa6
bindsym $mod+Mod1+7		workspace $wsa7
bindsym $mod+Mod1+8		workspace $wsa8
bindsym $mod+Mod1+9		workspace $wsa9
bindsym $mod+Mod1+0		workspace $wsa10

# fr keyboard bindings
bindsym $mod+ampersand  workspace $ws1
bindsym $mod+eacute     workspace $ws2
bindsym $mod+quotedbl   workspace $ws3
bindsym $mod+apostrophe workspace $ws4
bindsym $mod+parenleft  workspace $ws5
bindsym $mod+minus      workspace $ws6
bindsym $mod+egrave     workspace $ws7
bindsym $mod+underscore workspace $ws8
bindsym $mod+ccedilla   workspace $ws9
bindsym $mod+agrave     workspace $ws10

bindsym $mod+Mod1+ampersand  workspace $wsa1
bindsym $mod+Mod1+eacute     workspace $wsa2
bindsym $mod+Mod1+quotedbl   workspace $wsa3
bindsym $mod+Mod1+apostrophe workspace $wsa4
bindsym $mod+Mod1+parenleft  workspace $wsa5
bindsym $mod+Mod1+minus      workspace $wsa6
bindsym $mod+Mod1+egrave     workspace $wsa7
bindsym $mod+Mod1+underscore workspace $wsa8
bindsym $mod+Mod1+ccedilla   workspace $wsa9
bindsym $mod+Mod1+agrave     workspace $wsa10

# move focused container to workspace
bindsym $mod+Shift+1	move container to workspace $ws1
bindsym $mod+Shift+2	move container to workspace $ws2
bindsym $mod+Shift+3	move container to workspace $ws3
bindsym $mod+Shift+4	move container to workspace $ws4
bindsym $mod+Shift+5	move container to workspace $ws5
bindsym $mod+Shift+6	move container to workspace $ws6
bindsym $mod+Shift+7	move container to workspace $ws7
bindsym $mod+Shift+8	move container to workspace $ws8
bindsym $mod+Shift+9	move container to workspace $ws9
bindsym $mod+Shift+0	move container to workspace $ws10

bindsym $mod+Mod1+Shift+1	move container to workspace $wsa1
bindsym $mod+Mod1+Shift+2	move container to workspace $wsa2
bindsym $mod+Mod1+Shift+3	move container to workspace $wsa3
bindsym $mod+Mod1+Shift+4	move container to workspace $wsa4
bindsym $mod+Mod1+Shift+5	move container to workspace $wsa5
bindsym $mod+Mod1+Shift+6	move container to workspace $wsa6
bindsym $mod+Mod1+Shift+7	move container to workspace $wsa7
bindsym $mod+Mod1+Shift+8	move container to workspace $wsa8
bindsym $mod+Mod1+Shift+9	move container to workspace $wsa9
bindsym $mod+Mod1+Shift+0	move container to workspace $wsa10

# fr keyboard bindings
bindsym $mod+Shift+ampersand	move container to workspace $ws1
bindsym $mod+Shift+eacute	    move container to workspace $ws2
bindsym $mod+Shift+quotedbl	    move container to workspace $ws3
bindsym $mod+Shift+apostrophe   move container to workspace $ws4
bindsym $mod+Shift+parenleft	move container to workspace $ws5
bindsym $mod+Shift+minus	    move container to workspace $ws6
bindsym $mod+Shift+egrave	    move container to workspace $ws7
bindsym $mod+Shift+underscore	move container to workspace $ws8
bindsym $mod+Shift+ccedilla	    move container to workspace $ws9
bindsym $mod+Shift+agrave	    move container to workspace $ws10

bindsym $mod+Mod1+Shift+ampersand	move container to workspace $wsa1
bindsym $mod+Mod1+Shift+eacute	    move container to workspace $wsa2
bindsym $mod+Mod1+Shift+quotedbl	move container to workspace $wsa3
bindsym $mod+Mod1+Shift+apostrophe  move container to workspace $wsa4
bindsym $mod+Mod1+Shift+parenleft	move container to workspace $wsa5
bindsym $mod+Mod1+Shift+minus	    move container to workspace $wsa6
bindsym $mod+Mod1+Shift+egrave	    move container to workspace $wsa7
bindsym $mod+Mod1+Shift+underscore	move container to workspace $wsa8
bindsym $mod+Mod1+Shift+ccedilla	move container to workspace $wsa9
bindsym $mod+Mod1+Shift+agrave	    move container to workspace $wsa10

# move workspace to output
bindsym $mod+Control+Shift+h  move workspace to output left
bindsym $mod+Control+Shift+l move workspace to output right
bindsym $mod+Control+Shift+k    move workspace to output up
bindsym $mod+Control+Shift+j  move workspace to output down
# move workspace to output with arrow keys
bindsym $mod+Control+Shift+Left  move workspace to output left
bindsym $mod+Control+Shift+Right move workspace to output right
bindsym $mod+Control+Shift+Up    move workspace to output up
bindsym $mod+Control+Shift+Down  move workspace to output down


# move workspace to current output
bindsym $mod+F1 [workspace=$ws1] move workspace to output current; workspace $ws1
bindsym $mod+F2 [workspace=$ws2] move workspace to output current; workspace $ws2
bindsym $mod+F3 [workspace=$ws3] move workspace to output current; workspace $ws3
bindsym $mod+F4 [workspace=$ws4] move workspace to output current; workspace $ws4
bindsym $mod+F5 [workspace=$ws5] move workspace to output current; workspace $ws5
bindsym $mod+F6 [workspace=$ws6] move workspace to output current; workspace $ws6
bindsym $mod+F7 [workspace=$ws7] move workspace to output current; workspace $ws7
bindsym $mod+F8 [workspace=$ws8] move workspace to output current; workspace $ws8
bindsym $mod+F9 [workspace=$ws9] move workspace to output current; workspace $ws9
bindsym $mod+F10 [workspace=$ws10] move workspace to output current; workspace $ws10

bindsym $mod+Mod1+F1 [workspace=$wsa1] move workspace to output current; workspace $wsa1
bindsym $mod+Mod1+F2 [workspace=$wsa2] move workspace to output current; workspace $wsa2
bindsym $mod+Mod1+F3 [workspace=$wsa3] move workspace to output current; workspace $wsa3
bindsym $mod+Mod1+F4 [workspace=$wsa4] move workspace to output current; workspace $wsa4
bindsym $mod+Mod1+F5 [workspace=$wsa5] move workspace to output current; workspace $wsa5
bindsym $mod+Mod1+F6 [workspace=$wsa6] move workspace to output current; workspace $wsa6
bindsym $mod+Mod1+F7 [workspace=$wsa7] move workspace to output current; workspace $wsa7
bindsym $mod+Mod1+F8 [workspace=$wsa8] move workspace to output current; workspace $wsa8
bindsym $mod+Mod1+F9 [workspace=$wsa9] move workspace to output current; workspace $wsa9
bindsym $mod+Mod1+F10 [workspace=$wsa10] move workspace to output current; workspace $wsa10

# Attaching workspaces to outputs
workspace $ws1 output $tertiary $primary $secondary
workspace $ws2 output $secondary $tertiary $primary
#workspace $ws3 output $primary $secondary $tertiary
#workspace $ws4 output $primary $secondary $tertiary
#workspace $ws5 output $primary $secondary $tertiary
#workspace $ws6 output $tertiary $secondary $primary
#workspace $ws7 output $tertiary $secondary $primary
#workspace $ws8 output $tertiary $secondary $primary
#workspace $ws9 output $tertiary $secondary $primary
#workspace $ws10 output $tertiary $secondary $primary

#workspace $wsa1 output $tertiary $secondary $primary
#workspace $wsa2 output $tertiary $secondary $primary
#workspace $wsa3 output $tertiary $secondary $primary
#workspace $wsa4 output $tertiary $secondary $primary
#workspace $wsa5 output $tertiary $secondary $primary
#workspace $wsa6 output $tertiary $secondary $primary
#workspace $wsa7 output $tertiary $secondary $primary
workspace $wsa8 output $tertiary $primary $secondary
workspace $wsa9 output $tertiary $primary $secondary
workspace $wsa10 output $primary $secondary $tertiary

assign [app_id="firefox"] $ws1
assign [class="firefox"] $ws1
{{- if eq .env "home" }}
assign [app_id="telegramdesktop"] $ws2
assign [app_id="org.telegram.desktop"] $ws2
assign [app_id="thunderbird"] $ws3
assign [class="thunderbird"] $ws3
{{- end }}
{{- if eq .env "work" }}
assign [app_id="code-url-handler"] $ws2
assign [class="Code"] $ws2
assign [class="Slack"] $wsa8
assign [app_id="Slack"] $wsa8
assign [app_id="chromium"] $wsa8
assign [class="chromium"] $wsa8
assign [app_id="thunderbird"] $wsa9
assign [class="thunderbird"] $wsa9
{{- end }}
