[user]
	email = {{ .email }}
	name = {{ .fullname }}
[diff]
	algorithm = histogram
  colorMoved = default
[pull]
	rebase = false
[init]
  defaultBranch = master

{{- if eq .env "work" }}
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
{{- end }}

{{- if ne .gpgsign "no" }}
# GPG Setup
[user]
  signingkey = {{ .gpgsign }}

[commit]
  gpgsign = true
{{- end }}

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only
[include]
	path = {{ .chezmoi.homeDir }}/delta/themes/catppuccin.gitconfig
[delta]
  features = catppuccin-mocha zebra-dark
  navigate = true    # use n and N to move between diff sections
  line-numbers = true
  side-by-side = true

[merge]
  conflictstyle = zdiff3
