[".local/bin/autotiling"]
    type = "file"
    url = "https://raw.githubusercontent.com/nwg-piotr/autotiling/master/autotiling/main.py"
    refreshPeriod = "168h"
    executable = true

[".config/zsh/.zprezto"]
    type = "git-repo"
    url = "https://github.com/sorin-ionescu/prezto.git"
    refreshPeriod = "168h"
    [".config/zsh/.zprezto".clone]
        args = ["--recurse-submodules"]
    [".config/zsh/.zprezto".pull]
        args = ["--recurse-submodules"]

[".config/xresources"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/xresources/main/{{ .themeFlavour }}.Xresources"
    refreshPeriod = "744h"

## [".local/share/fonts/NerdFontsSymbols"]
##     type = "archive"
##     url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/NerdFontsSymbolsOnly.zip"
##     refreshPeriod = "744h"
##     exclude = ["readme.md", "LICENSE", "*Windows*"]
##
## [".local/share/fonts/JetBrainsMono"]
##     type = "archive"
##     url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/JetBrainsMono.zip"
##     refreshPeriod = "744h"
##     exclude = ["readme.md", "*Windows*"]
##
## [".local/share/fonts/Muli"]
##     type = "archive"
##     url = "https://github.com/googlefonts/mulish/archive/refs/heads/main.zip"
##     refreshPeriod = "744h"
##     stripComponents = 3
##     include = ["mulish-main/fonts/ttf/*.ttf"]
##
## [".local/share/fonts/Inter"]
##     type = "archive"
##     url = "https://github.com/rsms/inter/releases/download/v3.19/Inter-3.19.zip"
##     refreshPeriod = "744h"
##     stripComponents = 1
##     include = ["Inter Desktop/*"]

{{- if ne .env "work" }}
[".themes"]
    type = "archive"
{{- if eq .themeFlavour "latte" }}
    url = "https://github.com/catppuccin/gtk/releases/latest/download/Catppuccin-{{ title .themeFlavour }}-Standard-{{ title .themeColor }}-Light.zip"
{{- else }}
    url = "https://github.com/catppuccin/gtk/releases/latest/download/Catppuccin-{{ title .themeFlavour }}-Standard-{{ title .themeColor }}-Dark.zip"
{{- end }}
    refreshPeriod = "744h"

[".icons/Catppuccin-{{ title .themeFlavour }}-{{ title .themeCursorColor }}-Cursors"]
    type = "archive"
    url = "https://github.com/catppuccin/cursors/releases/latest/download/Catppuccin-{{ title .themeFlavour }}-{{ title .themeCursorColor }}-Cursors.zip"
    refreshPeriod = "744h"
    stripComponents = 1

[".icons/papirus-icon-theme"]
    type = "git-repo"
    url = "https://github.com/PapirusDevelopmentTeam/papirus-icon-theme.git"
    refreshPeriod = "744h"

[".icons/papirus-folders"]
    type = "git-repo"
    url = "https://github.com/catppuccin/papirus-folders.git"
    refreshPeriod = "744h"
{{- end }}
