#!/bin/sh
{{- if eq .chezmoi.osRelease.id "ubuntu" }}
sudo apt install fonts-linuxlibertine fonts-noto-color-emoji fonts-dejavu ripgrep kanshi wdisplays kitty mako-notifier rofi sway swayidle swaylock waybar grimshot python3-i3ipc yubioath-desktop playerctl brightnessctl zathura zsh imagemagick fd-find wl-clipboard fzf thunderbird
sudo snap install nvim
sudo snap install firefox
sudo snap install chromium
{{- if eq .env "work" }}
sudo snap install slack
sudo snap install code
{{- end }}
{{- end }}
{{- if eq .chezmoi.osRelease.id "arch" }}
# TODO: wdisplays rofi-wayland
sudo pacman -S zsh vim networkmanager sudo git openssh curl wgetttf-linux-libertine noto-fonts ttf-dejavu ripgrep kanshi kitty mako sway swaybg swayidle swaylock waybar grim slurp wl-copy jq python-i3ipc playerctl brightnessctl zathura imagemagick fd wl-clipboard fzf thunderbird neovim firefox chromium rofi
ln -s /usr/share/sway/scripts/grimshot {{ .chezmoi.homeDir }}/.local/bin/grimshot
{{- end }}
