#!/bin/sh
{{ if ne .env "work" }}
{{ if eq .themeFlavour "latte" }}
DARK_OR_LIGHT="Light"
{{ else }}
DARK_OR_LIGHT="Dark"
{{ end }}
GTK_THEME_PATH="{{ .chezmoi.homeDir }}/.themes/Catppuccin-{{ title .themeFlavour }}-Standard-{{ title .themeColor }}-$DARK_OR_LIGHT/gtk-4.0/assets"
ln -sf $GTK_THEME_PATH "{{ .chezmoi.homeDir }}/.config/gtk-4.0/assets"
DESTDIR="{{ .chezmoi.homeDir }}/.icons" {{ .chezmoi.homeDir }}/.icons/papirus-icon-theme/install.sh
cp -r {{ .chezmoi.homeDir }}/.icons/papirus-folders/src/* {{ .chezmoi.homeDir }}/.icons/Papirus
{{ .chezmoi.homeDir }}/.icons/papirus-folders/papirus-folders -C cat-{{ .themeFlavour }}-{{ .themeColor }} --theme Papirus-$DARK_OR_LIGHT
{{ end }}
