{{- if eq .chezmoi.osRelease.id "arch" }}
[".local/bin/grimblast"]
    type = "file"
    url = "https://raw.githubusercontent.com/hyprwm/contrib/main/grimblast/grimblast"
    refreshPeriod = "168h"
    executable = true

[".local/bin/rofi-screenshot"]
    type = "file"
    url = "https://raw.githubusercontent.com/hyprwm/contrib/main/grimblast/screenshot.sh"
    refreshPeriod = "168h"
    executable = true
{{- end }}

[".config/nvim"]
    type = "git-repo"
    url = "https://github.com/kevinard/nvim.git"
    refreshPeriod = "744h"

[".config/zsh/oh-my-zsh"]
    type = "git-repo"
    url = "https://github.com/ohmyzsh/ohmyzsh.git"
    refreshPeriod = "168h"

[".config/zsh/custom/themes/spaceship-prompt"]
    type = "git-repo"
    url = "https://github.com/spaceship-prompt/spaceship-prompt.git"
    refreshPeriod = "168h"

[".config/zsh/custom/plugins/zsh-history-substring-search"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-history-substring-search"
    refreshPeriod = "168h"

[".config/zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting.git"
    refreshPeriod = "168h"

[".config/zsh/custom/plugins/zsh-autosuggestions"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-autosuggestions"
    refreshPeriod = "168h"

{{- if eq .env "work" }}
[".local/bin/autotiling"]
    type = "file"
    url = "https://raw.githubusercontent.com/nwg-piotr/autotiling/master/autotiling/main.py"
    refreshPeriod = "168h"
    executable = true

[".local/share/yubico-authenticator"]
    type = "archive"
    url = "https://developers.yubico.com/yubioath-flutter/Releases/yubico-authenticator-latest-linux.tar.gz"
    refreshPeriod = "744h"
    stripComponents = 1

{{ $miseVersion := "v2024.11.37" -}}
[".local/bin/mise"]
    type = "archive-file"
    url = "https://github.com/jdx/mise/releases/download/{{ $miseVersion }}/mise-{{ $miseVersion }}-linux-x64.tar.gz"
    refreshPeriod = "744h"
    stripComponents = 1
    path = "bin/mise"

{{- end }}

## [".local/share/fonts/NerdFontsSymbols"]
##     type = "archive"
##     url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/NerdFontsSymbolsOnly.zip"
##     refreshPeriod = "744h"
##     exclude = ["readme.md", "LICENSE", "*Windows*"]
##
## [".local/share/fonts/JetBrainsMono"]
##     type = "archive"
##     url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/JetBrainsMono.zip"
##     refreshPeriod = "744h"
##     exclude = ["readme.md", "*Windows*"]
##
## [".local/share/fonts/Muli"]
##     type = "archive"
##     url = "https://github.com/googlefonts/mulish/archive/refs/heads/main.zip"
##     refreshPeriod = "744h"
##     stripComponents = 3
##     include = ["mulish-main/fonts/ttf/*.ttf"]
##
## [".local/share/fonts/Inter"]
##     type = "archive"
##     url = "https://github.com/rsms/inter/releases/download/v3.19/Inter-3.19.zip"
##     refreshPeriod = "744h"
##     stripComponents = 1
##     include = ["Inter Desktop/*"]

[".local/share/sddm/themes"]
type = "archive"
url = "https://github.com/catppuccin/sddm/releases/latest/download/catppuccin-{{ .themeFlavour }}.zip"
refreshPeriod = "744h"

{{- if ne .env "work" }}
# [".themes"]
#     type = "archive"
# {{- if eq .themeFlavour "latte" }}
#     url = "https://github.com/catppuccin/gtk/releases/latest/download/Catppuccin-{{ title .themeFlavour }}-Standard-{{ title .themeColor }}-Light.zip"
# {{- else }}
#     url = "https://github.com/catppuccin/gtk/releases/latest/download/Catppuccin-{{ title .themeFlavour }}-Standard-{{ title .themeColor }}-Dark.zip"
# {{- end }}
#     refreshPeriod = "744h"

[".icons/Catppuccin-{{ title .themeFlavour }}-{{ title .themeCursorColor }}-Cursors"]
    type = "archive"
    url = "https://github.com/catppuccin/cursors/releases/latest/download/Catppuccin-{{ title .themeFlavour }}-{{ title .themeCursorColor }}-Cursors.zip"
    refreshPeriod = "744h"
    stripComponents = 1

[".icons/papirus-folders"]
    type = "git-repo"
    url = "https://github.com/catppuccin/papirus-folders.git"
    refreshPeriod = "744h"

[".local/bin/papirus-folders"]
    type = "file"
    url = "https://raw.githubusercontent.com/PapirusDevelopmentTeam/papirus-folders/refs/heads/master/papirus-folders"
    refreshPeriod = "744h"
    executable = true

{{- end }}
