export XDG_CONFIG_HOME="$HOME/.config"
export ZDOTDIR="$XDG_CONFIG_HOME/zsh"
export HISTFILE="$ZDOTDIR/.zsh_history"

export GPG_TTY=$(tty)
gpg-connect-agent updatestartuptty /bye >/dev/null
{{- if eq .env "home" }}
unset SSH_AGENT_PID
export SSH_AUTH_SOCK="${XDG_RUNTIME_DIR}/gnupg/S.gpg-agent.ssh"
{{- end }}

export SCALINGO_HOME=$HOME/scalingo
export GOPATH=$HOME/go
export VOLTA_HOME="$HOME/.volta"
export PATH="$HOME/.tfenv/bin:$HOME/.rbenv/bin:$VOLTA_HOME/bin:$HOME/.local/bin:$PATH:$GOPATH/bin:/usr/local/go/bin"

export EDITOR='nvim'
export VISUAL='nvim'
export PAGER='less'
{{- if eq .env "home" }}
export TERMINAL='uwsm app -- kitty'
export BROWSER='uwsm app -- firefox'
export READER='uwsm app -- zathura'
{{- end }}
{{- if eq .env "work" }}
export TERMINAL='kitty'
export BROWSER='firefox'
export READER='zathura'
{{- end }}
export LANG='en_US.UTF-8'

# less/man colors
export LESS='-g -i -M -R -S -w -X -z-4'
# Set the Less input preprocessor.
# Try both `lesspipe` and `lesspipe.sh` as either might exist on a system.
if [[ -z "$LESSOPEN" ]] && (( $#commands[(i)lesspipe(|.sh)] )); then
  export LESSOPEN="| /usr/bin/env $commands[(i)lesspipe(|.sh)] %s 2>&-"
fi
export LESSHISTFILE="/dev/null"

export CATPPUCCIN_FLAVOUR="{{ .themeFlavour }}"

{{- if eq .env "work" }}
if [[ $DESKTOP_SESSION = "sway" ]]; then
  export _JAVA_AWT_WM_NONREPARENTING=1
  export SDL_VIDEODRIVER=wayland
  export QT_QPA_PLATFORM=wayland
  export QT_WAYLAND_DISABLE_WINDOWDECORATION="1"
  export MOZ_DBUS_REMOTE=1
  export SAL_USE_VCLPLUGIN=gtk3
  export XDG_CURRENT_DESKTOP=sway
  export XDG_SESSION_DESKTOP=sway
  eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
  export SSH_AUTH_SOCK
fi
{{- end }}

{{- if eq .env "home" }}
export UWSM_USE_SESSION_SLICE=true
{{- end }}
