{{- if eq .chezmoi.osRelease.id "ubuntu" -}}
#!/bin/bash

# add the official mozilla repository
wget -q https://packages.mozilla.org/apt/repo-signing-key.gpg -O- | sudo tee /etc/apt/keyrings/packages.mozilla.org.asc >/dev/null
gpg -n -q --import --import-options import-show /etc/apt/keyrings/packages.mozilla.org.asc | awk '/pub/{getline; gsub(/^ +| +$/,""); if($0 == "35BAA0B33E9EB396F59CA838C0BA5CE6DC6315A3") exit 0; else exit 1}'
if [[ $? -ne 0 ]]; then
	print "\nVerification failed: the fingerprint ("$0") does not match the expected one.\n"
	exit 1
fi
echo "deb [signed-by=/etc/apt/keyrings/packages.mozilla.org.asc] https://packages.mozilla.org/apt mozilla main" | sudo tee /etc/apt/sources.list.d/mozilla.list >/dev/null
echo '
Package: *
Pin: origin packages.mozilla.org
Pin-Priority: 1000
' | sudo tee /etc/apt/preferences.d/mozilla
echo '
Unattended-Upgrade::Allowed-Origins {
    "namespaces/moz-fx-productdelivery-pr-38b5/repositories/mozilla:mozilla";
};
' | sudo tee /etc/apt/apt.conf.d/51unattended-upgrades-local

# install apt packages
sudo apt update
sudo apt install {{ range .packages.ubuntu.apt -}}{{ . }} {{ end }}

# install snap packages
{{ range .packages.ubuntu.snap }}
sudo snap install {{ . }}
{{ end }}

# install lazygit manually
LAZYGIT_VERSION=$(curl -s "https://api.github.com/repos/jesseduffield/lazygit/releases/latest" | grep -Po '"tag_name": "v\K[^"]*')
curl -Lo lazygit.tar.gz "https://github.com/jesseduffield/lazygit/releases/latest/download/lazygit_${LAZYGIT_VERSION}_Linux_x86_64.tar.gz"
tar xf lazygit.tar.gz lazygit
sudo install lazygit /usr/local/bin
rm -rf lazygit lazygit.tar.gz
{{ end -}}
