{{- if eq .chezmoi.osRelease.id "arch" -}}
#!/bin/sh

if ! type paru >/dev/null 2>&1; then
  mkdir -p ~/.cache/paru/clone
  git clone https://aur.archlinux.org/paru.git ~/.cache/paru/clone/paru
  cd ~/.cache/paru/clone/paru
  makepkg -si
fi

paru -S --needed {{ range .packages.arch.pacman -}}{{ . }} {{ end }}
{{ end -}}
