#!/bin/zsh

PROJECTS_PATHS=({{ .projectsPaths }})

open_project(){
  swaymsg exec "kitty -d $1 nvim &" > /dev/null
}

# Add chezmoi and nvim dotfiles dir in projects list
if [ "$ROFI_RETV" = 1 ]; then
  if [ "dotfiles" = "$@" ]; then
    open_project "{{ .chezmoi.workingTree }}"
    exit 0
  elif [ "nvim" = "$@" ]; then
    open_project "{{ .chezmoi.homeDir }}/.config/nvim"
    exit 0
  fi
else
  echo "dotfiles"
  echo "nvim"
fi

# List projects or launch nvim in selected project
for project_path in $PROJECTS_PATHS ; do
  for project in $(ls $project_path); do
    if [ "$ROFI_RETV" = 1 ]; then
      if [ "$project" = "$@" ]; then
        open_project "$project_path/$project"
        exit 0
      fi
    else
      echo "$project"
    fi
  done
done
