include themes/diff-{{ .themeFlavour }}.conf
include themes/{{ .themeFlavour }}.conf

font_family monospace
bold_font        auto
italic_font      auto
bold_italic_font auto
font_size 11.9
scrollback_lines 10000
linux_display_server wayland
dynamic_background_opacity yes
strip_trailing_spaces smart