{
  "layer": "top",
  "position": "top",
  "height": 30,
  "include": [
    "~/.config/waybar/default-modules.json",
  ],
{{- if eq .env "home" }}
  "modules-left": ["hyprland/workspaces", "hyprland/submap"],
  "modules-center": ["hyprland/window"],
  "modules-right": ["tray", "power-profiles-daemon", "custom/pacman", "idle_inhibitor", "pulseaudio", "network", "battery", "clock"],
{{- end }}
{{- if eq .env "work" }}
  "modules-left": ["sway/workspaces", "sway/mode"],
  "modules-center": ["sway/window"],
  "modules-right": ["tray", "power-profiles-daemon", "idle_inhibitor", "pulseaudio", "network", "battery", "clock"],
{{- end }}
}
