[Desktop Entry]
Type=Application
Name=Visual Studio Code
Exec="/usr/bin/code --enable-features=UseOzonePlatform,WaylandWindowDecorations,WebRTCPipeWireCapturer --ozone-platform=wayland"
