source "${ZDOTDIR:-$HOME}/custom/themes/catppuccin_{{ .themeFlavour }}-zsh-syntax-highlighting.zsh"

xrdb -merge $XDG_CONFIG_HOME/xresources

# fzf
export FZF_DEFAULT_COMMAND='fd --type f --strip-cwd-prefix --hidden --follow --exclude .git'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
# Use fd (https://github.com/sharkdp/fd) instead of the default find
# command for listing path candidates.
# - The first argument to the function ($1) is the base path to start traversal
# - See the source code (completion.{bash,zsh}) for the details.
_fzf_compgen_path() {
  fd --hidden --follow --exclude ".git" . "$1"
}
# Use fd to generate the list for directory completion
_fzf_compgen_dir() {
  fd --type d --hidden --follow --exclude ".git" . "$1"
}
source "${ZDOTDIR:-$HOME}/custom/themes/catppuccin_{{ .themeFlavour }}-fzf.zsh"

# Source oh-my-zsh
if [[ -s "${ZDOTDIR:-$HOME}/oh-my-zsh/oh-my-zsh.sh" ]]; then
  source "${ZDOTDIR:-$HOME}/oh-my-zshrc.zsh"
fi

# Fix kitty terminal when using ssh
alias ssh="TERM=xterm-256color ssh"

# Adding color
alias ls='ls -hN --color=auto --group-directories-first'
alias grep="grep --color=auto"
alias diff="diff --color=auto"

# Internet
alias ledgerble="~/ledger/node_modules/ledgerble/ledgerble.js"

alias fournill="ledger --file ~/fournill/ledger/main.journal"

{{- if eq .env "work" }}
source $SCALINGO_HOME/tools-and-hacks/zsh/scalingo
eval "$(rbenv init -)"
alias ans="source $HOME/.local/venv/ansible/bin/activate"
{{- end }}
{{- if eq .env "home" }}
# pacman install
alias paci="yay -Slq | fzf --prompt=' ' --color=16 -m --preview 'cat <(yay -Si {1}) <(yay -Fl {1} | awk \"{print \$2}\")' | xargs -ro yay -S --needed"
# pacman remove
alias pacr="yay -Qq | fzf --prompt=' ' --color=16 -m --preview 'yay -Qi {1}' | xargs -ro yay -Rns"
# pacman view
alias pac="yay -Qq | fzf --prompt=' ' --color=16 -m --preview 'yay -Qi {1}'"
# pacman clear
alias pacc='yay -Qtdq | yay -Rns -'
{{- end }}
