# Set programs that you use
$terminal = uwsm app -- kitty
$fileManager = uwsm app -- thunar
$menu = uwsm app -- rofi

# Include config files
source=~/.config/hypr/conf/inputs.conf
source=~/.config/hypr/conf/outputs.conf
source=~/.config/hypr/conf/theme.conf
source=~/.config/hypr/conf/layouts.conf
#source=~/.config/hypr/conf/workspaces.conf
source=~/.config/hypr/conf/binds.conf
source=~/.config/hypr/conf/windowrules.conf
source=~/.config/hypr/conf/execs.conf



