bind = $mainMod, return, exec, $terminal
bind = $mainMod SHIFT, return, exec, hyprland-samedir
bind = $mainMod SHIFT, Q, killactive,
bind = $mainMod, E, exec, $fileManager
bind = $mainMod SHIFT, space, togglefloating,
bind = $mainMod, R, exec, $menu -show drun
bind = $mainMod, Y, exec, $menu -show projects
bind = $mainMod, A, exec, $menu -show calc -modi calc -no-show-match -no-sort
bind = $mainMod, ESCAPE, exec, $menu -show powermenu -theme powermenu
bind = $mainMod, X, exec, loginctl lock-session

bind = $mainMod, T, layoutmsg, orientationnext
bind = $mainMod, M, layoutmsg, focusmaster
bind = $mainMod SHIFT, M, layoutmsg, swapwithmaster
bind = $mainMod CTRL, M, layoutmsg, addmaster
bind = $mainMod CTRL SHIFT, M, layoutmsg, removemaster
bind = $mainMod, Tab, layoutmsg, cyclenext
bind = $mainMod SHIFT, Tab, layoutmsg, cycleprev
bind = $mainMod CTRL, Tab, layoutmsg, swapnext
bind = $mainMod CTRL SHIFT, Tab, layoutmsg, swapprev

bind = $mainMod, Z, togglefloating
bind = $mainMod, Z, pin

bind = $mainMod, backspace, exec, hyprctl reload
bind = $mainMod, backspace, exec, forcerendererreload

bind = $mainMod, F, fullscreen

bind = $mainMod, B, exec, killall -SIGUSR1 waybar
bind = $mainMod SHIFT, B, exec, systemctl --user reload waybar

bind = $mainMod, I, exec, hyprland-run-or-raise class thunderbird thunderbird
bind = $mainMod, U, exec, hyprland-run-or-raise class "org.telegram.desktop" telegram-desktop

bind = $mainMod, V, exec, $menu -show cliphist -modi cliphist -display-columns 2
bind = $mainMod SHIFT, V, exec, uwsm app -- rofimoji

# Example special workspace (scratchpad)
bind = $mainMod, S, togglespecialworkspace, magic
bind = $mainMod SHIFT, S, movetoworkspace, special:magic

# Move/resize windows with mainMod + LMB/RMB and dragging
bindm = $mainMod, mouse:272, movewindow
bindm = $mainMod, mouse:273, resizewindow
bindm = $mainMod SHIFT, mouse:273, resizewindow 1 # keep aspect ratio

# For screenshots and recording
bindl = , Print, exec, grimblast save output
bind = SHIFT, Print, exec, grimblast save area
bind = ALT, Print, exec, grimblast save screen
bindl = CTRL, Print, exec, grimblast save output - | swappy -f -
bind = CTRL SHIFT, Print, exec, grimblast save area - | swappy -f -
bind = CTRL ALT, Print, exec, grimblast save screen - | swappy -f -

# #---Extra XF86 Keys---# #
# These are the extra media keys that some keyboards have.
bindl = , XF86AudioMute,		              exec, wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle && wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{print $2*100}' | notify-progress audio
bindle = , XF86AudioLowerVolume,	          exec, wpctl set-volume -l 1 @DEFAULT_AUDIO_SINK@ 5%- && wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{print $2*100}' | notify-progress audio
bindle = SHIFT, XF86AudioLowerVolume,	    exec, wpctl set-volume -l 1 @DEFAULT_AUDIO_SINK@ 10%- && wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{print $2*100}' | notify-progress audio
bindle = CTRL, XF86AudioLowerVolume,	      exec, wpctl set-volume -l 1 @DEFAULT_AUDIO_SINK@ 1%- && wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{print $2*100}' | notify-progress audio
bindle = , XF86AudioRaiseVolume,	          exec, wpctl set-volume -l 1 @DEFAULT_AUDIO_SINK@ 5%+ && wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{print $2*100}' | notify-progress audio
bindle = SHIFT, XF86AudioRaiseVolume,	    exec, wpctl set-volume -l 1 @DEFAULT_AUDIO_SINK@ 10%+ && wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{print $2*100}' | notify-progress audio
bindle = CTRL, XF86AudioRaiseVolume,   	  exec, wpctl set-volume -l 1 @DEFAULT_AUDIO_SINK@ 1%+ && wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{print $2*100}' | notify-progress audio
bindl = , XF86AudioMicMute,	              exec, wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle
bindl = , XF86AudioPlay,		              exec, playerctl play-pause
bindl = , XF86AudioNext,		              exec, playerctl next
bindl = , XF86AudioPrev,		              exec, playerctl previous
bindl = , XF86AudioStop,		              exec, playerctl stop
bindle = , XF86AudioRewind,		            exec, playerctl position 10-
bindle = , XF86AudioForward,	              exec, playerctl position 10+
{{ if eq .onBattery "yes" }}
bindle = , XF86MonBrightnessDown,	        exec, sudo brightnessctl -m s 5%- | awk -F',' '{print $4+0}' | notify-progress brightness
bindle = , XF86MonBrightnessUp,	          exec, sudo brightnessctl -m s +5% | awk -F',' '{print $4+0}' | notify-progress brightness
{{ end }}
{{ if eq .onBattery "no" }}
bindle = , XF86MonBrightnessDown,	        exec, brightness-control down 0
bindle = , XF86MonBrightnessUp,	          exec, brightness-control up 0
{{ end }}
