# Execute your favorite apps at launch
exec-once=/usr/lib/polkit-kde-authentication-agent-1
exec-once=import-gsettings
exec-once=[workspace 2 silent] uwsm app -- telegram-desktop
exec-once=[workspace 1 silent] uwsm app -- firefox
exec-once=[workspace 3 silent] uwsm app -- thunderbird
