[Desktop Entry]
Name=Yubico Authenticator
GenericName=Yubico Authenticator
Exec="{{ .chezmoi.homeDir }}/.local/share/yubico-authenticator/authenticator"
Icon={{ .chezmoi.homeDir }}/.local/share/yubico-authenticator/linux_support/com.yubico.yubioath.png
Type=Application
Categories=Utility;
Keywords=Yubico;Authenticator;
