# Input settings
input type:keyboard {
  repeat_delay 300
  repeat_rate 40
{{- if eq .env "home" }}
  xkb_layout us
  xkb_variant altgr-intl
{{- end }}
{{- if eq .env "work" }}
  xkb_layout fr
{{- end }}
  xkb_options shift:both_capslock,caps:escape
  xkb_numlock enabled
}

{{- if eq .env "work" }}
input "13364:547:Keychron_Keychron_K2_Pro" {
  repeat_delay 300
  repeat_rate 40
  xkb_layout us
  xkb_variant altgr-intl
  xkb_options shift:both_capslock,caps:escape
  xkb_numlock enabled
}

input "13364:547:Keychron_K2_Pro_Keyboard" {
  repeat_delay 300
  repeat_rate 40
  xkb_layout us
  xkb_variant altgr-intl
  xkb_options shift:both_capslock,caps:escape
  xkb_numlock enabled
}

input "1452:592:Keychron_Keychron_K2" {
  repeat_delay 300
  repeat_rate 40
  xkb_layout us
  xkb_variant altgr-intl
  xkb_options shift:both_capslock,caps:escape
  xkb_numlock enabled
}
{{- end }}

input type:touchpad {
  accel_profile adaptive
  click_method clickfinger
  drag enabled
  drag_lock enabled
  scroll_method two_finger
  scroll_factor 1.0
  tap enabled
  tap_button_map lrm
}

seat "*" hide_cursor 5000
