#exec systemctl --user import-environment DISPLAY WAYLAND_DISPLAY SWAYSOCK XDG_CURRENT_DESKTOP
#exec hash dbus-update-activation-environment 2>/dev/null && \
#     dbus-update-activation-environment --systemd DISPLAY WAYLAND_DISPLAY SWAYSOCK XDG_CURRENT_DESKTOP
exec systemctl --user import-environment
exec hash dbus-update-activation-environment 2>/dev/null && \
     dbus-update-activation-environment --systemd --all
exec_always $XDG_CONFIG_HOME/sway/import-gsettings
exec_always --no-startup-id autotiling &
exec --no-startup-id kanshi &
exec --no-startup-id mako &
{{- if eq .env "home" }}
exec "telegram-desktop &"
{{- end }}
{{- if eq .env "work" }}
exec "slack &"
# exec "discord &"
{{- end }}

exec --no-startup-id $BROWSER &
exec --no-startup-id thunderbird &

exec --no-startup-id swayidle -w \
                timeout 300 'lockscreen' \
                timeout 600 'swaymsg "output * dpms off"' \
                     resume 'swaymsg "output * dpms on"' \
                timeout 900 'systemctl suspend' \
                before-sleep 'lockscreen' \
                lock 'lockscreen' \

