#!/bin/zsh

source "${ZDOTDIR:-$HOME}/custom/themes/catppuccin_{{ .themeFlavour }}-zsh-syntax-highlighting.zsh"

# xrdb -merge $XDG_CONFIG_HOME/xresources

# fzf
export FZF_DEFAULT_COMMAND='fd --type f --strip-cwd-prefix --hidden --follow --exclude .git'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
# Use fd (https://github.com/sharkdp/fd) instead of the default find
# command for listing path candidates.
# - The first argument to the function ($1) is the base path to start traversal
# - See the source code (completion.{bash,zsh}) for the details.
_fzf_compgen_path() {
  fd --hidden --follow --exclude ".git" . "$1"
}
# Use fd to generate the list for directory completion
_fzf_compgen_dir() {
  fd --type d --hidden --follow --exclude ".git" . "$1"
}
source "${ZDOTDIR:-$HOME}/custom/themes/catppuccin_{{ .themeFlavour }}-fzf.zsh"

# Source oh-my-zsh
if [[ -s "${ZDOTDIR:-$HOME}/oh-my-zsh/oh-my-zsh.sh" ]]; then
  source "${ZDOTDIR:-$HOME}/oh-my-zshrc.zsh"
fi

# Fix kitty terminal when using ssh
alias ssh="TERM=xterm-256color ssh"
alias vagrant="TERM=xterm-256color vagrant"

# Adding color
alias ls='ls -hN --color=auto --group-directories-first'
alias grep="grep --color=auto"
alias diff="diff --color=auto"
alias cat='bat --paging=never'

alias rg="rg --hyperlink-format=file-line-column://{path}:{line}:{column}"
alias fournill="ledger --file ~/fournill/ledger/main.journal"

{{- if eq .env "work" }}
source $SCALINGO_HOME/tools-and-hacks/zsh/scalingo
# eval "$(rbenv init -)"
eval "$(mise activate zsh)"
alias ans="source $HOME/.local/venv/ansible/bin/activate"
alias cat='batcat --paging=never'
alias bat='batcat'
{{- end }}
