[Settings]
gtk-application-prefer-dark-theme=0
gtk-font-name=sans-serif 11
{{- if eq .env "work" }}
gtk-theme-name=Yaru-purple-dark
; gtk-icon-theme-name=Yaru-purple-dark
gtk-icon-theme-name=Papirus-Dark
gtk-cursor-theme-name=Yaru
{{- end }}
{{- if eq .env "home" }}
{{- if eq .themeFlavour "latte" }}
gtk-theme-name=Catppuccin-{{ title .themeFlavour }}-Standard-{{ title .themeColor }}-Light
gtk-icon-theme-name=Papirus-Light
{{- else }}
gtk-theme-name=Catppuccin-{{ title .themeFlavour }}-Standard-{{ title .themeColor }}-Dark
gtk-icon-theme-name=Papirus-Dark
{{- end }}
gtk-cursor-theme-name=Catppuccin-{{ title .themeFlavour }}-{{ title .themeCursorColor }}-Cursors
{{- end }}
