default-timeout=2000
sort=-time
layer=overlay
width=300
height=110
border-size=1
border-radius=4
default-timeout=4000
ignore-timeout=1
font=sans-serif 12
{{- if eq .themeFlavour "mocha" }}
background-color=#1e1e2e
text-color=#cdd6f4
border-color=#89b4fa
progress-color=over #313244
{{- end }}
{{- if eq .themeFlavour "macchiato" }}
background-color=#24273a
text-color=#cad3f5
border-color=#8aadf4
progress-color=over #363a4f
{{- end }}
{{- if eq .themeFlavour "frappe" }}
background-color=#303446
text-color=#c6d0f5
border-color=#8caaee
progress-color=over #414559
{{- end }}
{{- if eq .themeFlavour "latte" }}
background-color=#eff1f5
text-color=#4c4f69
border-color=#1e66f5
progress-color=over #ccd0da
{{- end }}

[urgency=high]
default-timeout=0
{{- if eq .themeFlavour "mocha" }}
border-color=#fab387
{{- end }}
{{- if eq .themeFlavour "macchiato" }}
border-color=#f5a97f
{{- end }}
{{- if eq .themeFlavour "frappe" }}
border-color=#ef9f76
{{- end }}
{{- if eq .themeFlavour "latte" }}
border-color=#fe640b
{{- end }}

# See https://github.com/catppuccin/mako/tree/main/src to change Catppuccin flavours
