{{- if eq .env "home" }}
profile laptop {
	output "Chimei Innolux Corporation 0x14B1 0x00000000" position 0,0
}

profile laptop-extended {
	output "Chimei Innolux Corporation 0x14B1 0x00000000" position 0,0
	output HDMI-A-2 position 1920,0
}

profile tower-1 {
	output "Samsung Electric Company S24C650 0x5A584134" position 0,0
}

profile tower-2 {
  output "Lenovo Group Limited L32p-30 U511GB2Z" position 0,0
	output "Samsung Electric Company S24C650 0x5A584134" position 3840,0
}
{{- end }}
{{- if eq .env "work" }}
profile laptop {
	output "LG Display 0x06CE Unknown" position 0,0
}

profile new-home-3 {
  output "Lenovo Group Limited L32p-30 U511GB2Z" position 0,0
	output "Samsung Electric Company S24C650 Unknown" position 3840,0
	output "LG Display 0x06CE Unknown" position 3840,1080
}

profile home-2-lenovo {
  output "Lenovo Group Limited L32p-30 U511GB2Z" position 0,0
	output "LG Display 0x06CE Unknown" position 1920,2160
}

profile home-3 {
	output "Goldstar Company Ltd LG IPS FULLHD " position 0,0
	output "Samsung Electric Company S24C650 Unknown" position 1920,0
	output "LG Display 0x06CE Unknown" position 1920,1080
}

profile home-2-samsung {
	output "Samsung Electric Company S24C650 Unknown" position 0,0
	output "LG Display 0x06CE Unknown" position 0,1080
}

profile home-2-lg {
	output "Goldstar Company Ltd LG IPS FULLHD " position 0,0
	output "LG Display 0x06CE Unknown" position 0,1080
}

profile work-1 {
	output "Unknown PA278CV M4LMQS242876" position 0,0
	output "LG Display 0x06CE Unknown" position 2560,240
}
{{- end }}
