configuration {
/*  modi: "run,drun,projects";*/
  show-icons: true;
  icon-theme: "Papirus";
  font: "sans-serif 14";
  drun-display-format: "{icon} {name}";
  location: 0;
  terminal: "kitty";
  disable-history: false;
  hide-scrollbar: true;
  sidebar-mode: true;
	case-sensitive: false;
	matching: "fuzzy";
	sort: true;
	sorting-method: "fzf";
	normalize-match: true;
{{- if eq .env "home" }}
  run-command: "uwsm app -- {cmd}";
{{- end }}

	drun {
		/** Parse user desktop files. */
		parse-user:   true;
		/** Parse system desktop files. */
		parse-system: true;
  }

	run,drun {
		fallback-icon: "application-x-addon";
	}
}

/*@theme "catppuccin-{{ .themeFlavour }}"*/
@theme "launcher"
