[Unit]
Description=Notification daemon
Documentation=man:dunst(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/dunst

[Install]
WantedBy=sway-session.target
