[Unit]
Description=Hyprland idle handler
Documentation=man:hypridle(1)
After=wayland-session@hyprland.desktop.target

[Service]
Type=exec
# Repurpose XDG Autostart filtering
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "Hyprland" ""
ExecStart=hypridle
Restart=on-failure
Slice=background-graphical.slice

[Install]
WantedBy=wayland-session@hyprland.desktop.target
